html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif, fantasy;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  height: 10vh;
  padding-left: 30px;
  padding-right: 20px;
}

.header__logo {
  width: 48px;
  margin-top: 7px;
}

.nav__hamburguer {
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburguer__bar {
  position: relative;
  width: 40px;
  height: 5px;
  background-color: #fff;
}

.hamburguer__bar::before, .hamburguer__bar::after {
  content: '';
  display: block;
  width: 40px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  top: -11px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hamburguer__bar::after {
  top: 11px;
}

.hamburguer__bar--open {
  height: 0;
}

.hamburguer__bar--open::before, .hamburguer__bar--open::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburguer__bar--open::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav__list {
  background-color: #000;
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .45s ease-in-out;
  transition: -webkit-transform .45s ease-in-out;
  transition: transform .45s ease-in-out;
  transition: transform .45s ease-in-out, -webkit-transform .45s ease-in-out;
}

.nav__list li {
  width: 60px;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__list li a {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__list--open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.list__img {
  width: 24px;
}

.scale {
  width: 20px;
}

.home {
  background-color: #000;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.home p {
  position: relative;
  color: #fff;
  font-size: 1.8em;
  font-weight: 400;
}

.home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 40px;
}

.home ul li a {
  display: block;
  width: 32px;
  height: 32px;
}

.home ul li a img {
  width: 100%;
}

.about {
  height: 100vh;
  background-color: #000;
  padding: 10vh 35px 0 40px;
}

.about h2, .about p {
  color: #fff;
}

.about h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.about p {
  margin-bottom: 20px;
}

.skills {
  height: 100vh;
  background-color: #000;
  padding: 10vh 35px 0 40px;
}

.skills h2, .skills p {
  color: #fff;
}

.skills h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  text-align: center;
}

.skills p {
  margin-bottom: 20px;
}

.projects {
  height: 100vh;
  background-color: #000;
  padding: 10vh 10px 0 10px;
}

.projects h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

.projects__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 155px;
  gap: 5px;
}

.projects__gallery img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.projects__gallery img:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.projects__gallery img:nth-child(5) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.projects__gallery img:nth-child(6) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.contact {
  height: 90vh;
  background-color: #000;
  padding-left: 30px;
  padding-right: 30px;
}

.contact h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.form {
  padding-top: 20px;
}

.form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__label, .form__input, .form__label-textarea, .form__textarea {
  display: block;
}

.form__input, .form__textarea {
  width: 100%;
  background-color: transparent;
  color: #fff;
}

.form__label, .form__input {
  margin-bottom: 10px;
}

.form__label, .form__label-textarea {
  color: #fff;
  font-size: 1.2em;
}

.form__input {
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #fff;
}

.form__label-textarea {
  margin-bottom: 5px;
}

.form__textarea {
  resize: none;
  border: 2px solid #fff;
  margin-bottom: 15px;
  height: 30vh;
}

.form__btn {
  padding: 10px 40px;
  border-radius: 20px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */