@import "tailwindcss";

:root {
    --background-primary: hsl(240, 5%, 10%);
    --background-primary-alt: hsl(240, 5%, 12%);
    --background-secondary: hsl(240, 5%, 15%);

    --text-normal: hsl(0, 0%, 90%);
    --text-muted: hsl(0, 0%, 60%);
    --text-faint: hsl(240, 5%, 10%);
    --text-on-accent: hsl(212, 100%, 67%);

    --border-normal: hsl(0, 0%, 25%);
    --border-focus: hsl(0, 0%, 40%);
}

html {
    background: var(--background-primary);
    color: var(--text-normal);
    font-family: monospace;
    font-size: 16px;
}

a {
    text-decoration: none;
    transition: color 0.25s ease;
}
